.appointmentPage {
    text-align: center;
    padding: 2rem;
  }
  
  .form {
    display: inline-block;
    max-width: 300px;
  }
  
  .form div {
    margin-bottom: 8px;
  }
  
  .inputField {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  .submitButton {
    padding: 12px 20px;
    background-color: #f07d8f; /* Par exemple, une couleur douce */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #d96c79;
}

  
  .backLink {
    margin-top: 20px;
    text-decoration: none;
    color: #6d5b97;
    font-size: 16px;
  }
  