.appointmentPage {
    text-align: center;
    padding: 2rem;
  }
  
  .form {
    display: inline-block;
    max-width: 300px;
  }
  
  .form div {
    margin-bottom: 8px;
  }
  
  .inputField {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  .submitButton {
    padding: 8px 16px;
    background-color: #6d5b97;
    color: #fff;
    border: none;
  }
  
  .backLink {
    margin-top: 20px;
    text-decoration: none;
    color: #6d5b97;
    font-size: 16px;
  }
  