.photos {
    padding: 2rem;
    text-align: center;
    background-color: #f0e6f6;
  }
  
  .sectionTitle {
    font-size: 2rem;
    color: var(--highlight-color);
    margin-bottom: 1rem;
  }
  
  .photoGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  
  .photoItem {
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .photoItem:hover {
    transform: scale(1.05);
  }
  
  .photo {
    width: 100%;
    height: 200px; /* Vous pouvez ajuster la hauteur selon vos préférences */
  object-fit: cover;
    display: block;
  }
  