.photos {
    padding: 2rem;
    text-align: center;
    background-color: #f0e6f6;
  }
  
  .sectionTitle {
    font-size: 2rem;
    color: var(--highlight-color);
    margin-bottom: 1rem;
  }
  
  .photoGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .photoItem {
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.photoItem:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
  
  .photo {
    width: 100%;
    aspect-ratio: 1 / 1; /* carré parfait */
    object-fit: cover;
    display: block;
  }
  