/* contact.module.css */
.contactSection {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.contactTitle {
  font-size: 2rem;
  color: #f07da5; /* Nouvelle couleur pour le titre */
  margin-bottom: 10px;
}

.contactText {
  font-size: 1.2rem;
  color: #333; /* Nouvelle couleur pour le texte */
  margin-bottom: 30px;
}

.contactDetails {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contactItem {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactItem i {
  font-size: 2rem;
  color: #3498db;
  margin-bottom: 10px;
}

.contactItem h3 {
  font-size: 1.1rem;
  color: #333;
  margin: 5px 0;
}

.contactItem p {
  font-size: 1rem;
  color: #666;
}

.contactItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* contact.module.css */
.mapContainer {
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
