/* Définition des couleurs par défaut */
:root {
  --background: #f5f3f3;
  --foreground: #000; 
  --highlight-color: #d04f80;
  --button-background: #f07da5;  /* Fond des boutons */
  --button-background-hover: #e06a76;  /* Fond au survol des boutons */
}

/* Style global pour HTML et body */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Styles pour le body */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Définition des marges et paddings pour tous les éléments */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Styles pour les liens */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}



