.header {
    width: 100%;
    padding: 16px 0;
    background-color: #f7e6ea; /* Couleur douce qui s'harmonise avec le rose de vos boutons */
    color: var(--foreground);
  }
  
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    max-width: 150px;
    border-radius: 50px;
  }
  
  .navLinks {
    display: flex;
    gap: 24px; /* Espacement entre les éléments du menu */
  }
  
  .navLinks a {
    color: var(--foreground);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  /* Couleur de survol pour les éléments du menu */
  .navLinks a:hover {
    color: #f07d8f; /* Couleur de survol similaire au bouton */
  }
  
  /* Section des icônes des réseaux sociaux */
  .socialLinks {
    display: flex;
    gap: 16px; /* Espacement entre les icônes */
    align-items: center;
  }
  
  /* Style des icônes de réseaux sociaux */
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
  }
  
  /* Survol des icônes */
  .icon:hover {
    transform: scale(1.1); /* Ajouter un effet de zoom au survol */
  }
  
  @media (max-width: 768px) {
    .headerContent {
      flex-direction: column;
      gap: 10px;
    }
  
    .navLinks {
      gap: 16px;
      justify-content: center;
    }

    .navLinks a {
      font-size: 12px;
    }
  
    .socialLinks {
      justify-content: center;
    }
  }
  