.header {
    width: 100%;
    padding: 16px 0;
    background-color: #f7e6ea; /* Couleur douce qui s'harmonise avec le rose de vos boutons */
    color: var(--foreground);
  }
  
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    max-width: 150px;
    border-radius: 50px;
  }
  
  .navLinks {
    display: flex;
    gap: 24px; /* Espacement entre les éléments du menu */
    align-items: center;
  }
  
  .navLinks a {
    color: var(--foreground);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s, transform 0.2s;
  }
  
  /* Couleur de survol pour les éléments du menu */
  .navLinks a:hover {
    color: #d81b60; 
    transform: scale(1.05);
  }

   /* Accent sur "Rendez-vous" */
   .navLinks a[href*='appointment'] {
    background-color: #fba4c1;
    padding: 4px;
    border-radius: 6px;
  }
  
  .navLinks a[href*='appointment']:hover {
    background-color: #f07da5;
    color: var(--foreground);
  }
  
  /* Section des icônes des réseaux sociaux */
  .socialLinks {
    display: flex;
    gap: 16px; /* Espacement entre les icônes */
    align-items: center;
  }
  
  /* Style des icônes de réseaux sociaux */
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
  }

   /* Changer les couleurs des icônes */
   .icon img[src*='instagram'] {
    filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(747%) hue-rotate(295deg) brightness(89%) contrast(98%);
  }

  .icon img[src*='facebook'] {
    filter: brightness(0) saturate(100%) invert(26%) sepia(99%) saturate(2341%) hue-rotate(201deg) brightness(99%) contrast(91%);
  }

  
  /* Survol des icônes */
  .icon:hover {
    transform: scale(1.1); /* Ajouter un effet de zoom au survol */
  }
  
  @media (max-width: 768px) {
    .headerContent {
      flex-direction: column;
      gap: 10px;
    }
  
    .navLinks {
      gap: 16px;
      justify-content: center;
    }

    .navLinks a {
      font-size: 12px;
    }
  
    .socialLinks {
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .navLinks a[href*='appointment']::after {
      content: "RDV"; /* Change le texte en RDV */
      font-size: 12px;
    }
  
    .navLinks a[href*='appointment'] {
      background-color: #fba4c1;
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 0; /* Masque le texte d'origine */
    }
  
    .navLinks a[href*='appointment']:hover {
      background-color: #f07da5;
    }
  }
  